MONGO_PORT=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

TOKEN_SECRET=
API_KEY=

MONGO_URL=
MONGO_DB=

MONGO_USER=
MONGO_PASSWORD=

BCRYPT_SALT=10
PORT=3001

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_HOST=

ENABLE_RABBITMQ=
ENABLE_QUEUE_CONSUME=

SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

STORAGE_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=./docx-api.json
ENABLE_GCLOUD_STORAGE=